@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: $primary;

    .navigation_bar {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
        background-color: $primary;

        .capify {
            padding: 30px;
            border-radius: 0 0 20px 20px;
            background: $green;
        }
    }

    .banner {
        margin-top: 112px;
        padding: 40px 0 70px;

        .banner_left,
        .banner_right {
            padding: 60px;
            overflow: hidden;
        }

        .banner_left {
            .form_wrapper {
                padding: 40px;

                .loan_type_option {
                    height: 100%;
                    width: 100%;
                    background: rgba(200, 169, 249, 0.2);
                    padding: 24px 4px 20px;
                    border-radius: 20px;
                    text-align: center;
                    font-weight: 700;
                    letter-spacing: -0.01em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: $primary;
                }

                #prevBtn {
                    cursor: pointer;
                }

                .form_slider {
                    .slick-track {
                        display: flex !important;
                    }

                    .slick-slide {
                        height: inherit !important;
                    }

                    .tab {
                        @include media-breakpoint-down(sm) {
                            .hero_heading {
                                font-size: 3rem !important;
                            }

                            .sub_heading {
                                font-size: 1.125rem !important;
                            }
                        }

                        input[type=text],
                        input[type=email],
                        input[type=tel] {
                            background: none;
                            border-radius: 0;
                            border: none;
                            padding: 20px 0 0;
                            font-size: 2.25rem;
                            font-family: $font-articulat-heavy;
                            color: $secondary;
                            line-height: 1;

                            &::placeholder {
                                color: $grey;
                            }

                            &:focus {
                                outline: none;
                                box-shadow: none;
                            }
                        }

                        input[type="radio"] {
                            opacity: 0;
                            position: fixed;
                            width: 0;
                        }

                        .radio-toolbar label {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            color: $primary;
                            letter-spacing: -0.01em;
                            height: 100%;
                            width: 100%;
                            background: rgba(200, 169, 249, 0.2);
                            padding: 24px 4px 20px;
                            border-radius: 20px;
                            text-align: center;
                            font-weight: 700;
                            transition: 0.2s all;

                            &:hover {
                                background-color: $secondary-light;
                            }
                        }

                        .radio-toolbar input[type="radio"]:checked+label {
                            background-color: $primary;
                            color: $white;
                        }

                        .form-check-input:checked+.form-check-label .radio-button-circle {
                            background-color: $primary;
                        }

                        .range {
                            width: 100%;
                            height: 24px;
                            position: relative;
                            background-color: #F0F0F7;
                            border-radius: 100px;

                            .sliderThumb {
                                position: absolute;
                                width: 34px;
                                height: 34px;
                                background-color: $white;
                                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
                                border-radius: 50%;
                                top: -6px;
                                cursor: pointer;
                                z-index: 2;
                            }

                            .progressBar {
                                position: absolute;
                                height: 100%;
                                background-color: $secondary;
                                border-radius: 100px;
                                z-index: 1;
                            }

                            input[type=range] {
                                position: absolute;
                                width: 99.5%;
                                height: 24px;
                                -webkit-appearance: none;
                                opacity: 0;
                                z-index: 3;

                                &::-webkit-slider-thumb {
                                    height: 34px;
                                    width: 34px;
                                    background-color: $secondary;
                                    border-radius: 30px;
                                    cursor: pointer;
                                    -webkit-appearance: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .banner_right {
            background: imgUrl('banner_right.jpg') center top;
            background-size: cover;
            display: flex;
            align-items: end;
        }

        .cta_slider {
            margin-top: 60px;

            .slick-track {
                display: flex;
                gap: 16px;
            }

            .slick-slide {
                height: inherit;
                background: $tertiary;
                border-radius: 20px;
                min-height: 134px;
                color: $white;
                padding: 8px 33px;
                font-size: 1.25rem;
                line-height: 1;
                font-weight: 600;
                text-transform: capitalize;
            }
        }
    }
}

section.loan_types {
    padding: 120px 0;
    background: $light;

    .loan_type_option {
        height: 100%;
        width: 100%;
        background: rgba(200, 169, 249, 0.2);
        padding: 24px 4px 20px;
        border-radius: 20px;
        text-align: center;
        font-weight: 700;
        letter-spacing: -0.01em;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        min-height: 262px;
        color: $primary;
        font-size: 1.5rem;
    }
}

section.our_commitment {
    padding: 188px 0 208px;
    background-color: $primary;
}

section.about_us {
    padding: 178px 0;
    background-color: $tertiary;
}

section.loan_security {
    background-color: $primary;
    padding: 133px 0 154px;

    .animated_text {
        color: $secondary-light;
        font-size: 2.25rem;
        line-height: 0.6;
        text-align: center;
        font-family: $font-brusheo;
        animation: bounce 5s infinite;

        @keyframes bounce {

            0%,
            20%,
            50%,
            80%,
            100% {
                transform: translateY(-30px)rotate(-15deg);
            }

            40% {
                transform: translateY(-60px)rotate(-15deg);
            }

            60% {
                transform: translateY(-45px)rotate(-15deg);
            }
        }
    }

    .loans-slider-wrapper {
        .slick-slide {
            margin: 0 4px;
        }

        ul.loans-slider-nav {
            display: flex;
            position: relative;
            padding: 0;
            margin: 0 0 39px;
            gap: 9px;

            li {
                list-style: none;

                .loan-slider-btn {
                    transition: 0.5s;
                    padding: 6px 24px;
                    position: relative;
                    z-index: 5;
                    height: 54px;
                    border: 1px solid $secondary;
                    border-radius: 100px;
                }

                &.slide {
                    position: absolute;
                    height: 54px;
                    background: $secondary;
                    border-radius: 100px;
                    border: 1px solid $secondary;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    transition: 0.5s;
                    opacity: 0;
                }

                &:nth-child(1).active~.slide,
                &:nth-child(2).active~.slide,
                &:nth-child(3).active~.slide {
                    opacity: 1;
                }
            }
        }

        .loans_slider {
            padding-top: 17px;

            .slick-track {
                display: flex;
            }

            .slick-slide {
                height: inherit;
                padding: 52px;
                background: $white;
                border-radius: 20px;
            }

            .slick-dots {
                display: flex !important;
                bottom: -30px;
                list-style-type: none;
                justify-content: center;

                @include media-breakpoint-up(md) {
                    justify-content: start;
                }

                li {
                    margin: 0 4.5px;
                    width: 13px;
                    height: 13px;

                    button:before {
                        width: 13px;
                        height: 13px;
                    }
                }

                button {
                    display: block;
                    width: 13px;
                    height: 13px;
                    padding: 0;
                    border: none;
                    background-color: $secondary-light;
                    text-indent: -9999px;
                    border-radius: 50%;
                }

                li.slick-active button {
                    opacity: 0.2;
                }
            }
        }
    }
}

section.lenders {
    background-color: $secondary;
    padding: 147px 0;
}

section.vision {
    padding: 132px 0;

    .vision_card {
        border-radius: 20px;
        min-height: 574px;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: end;
        text-align: center;

        &.fairness {
            background: imgUrl('vision-fairness.jpg') center;
        }

        &.accuracy {
            background: imgUrl('vision-accuracy.jpg') center;
        }

        &.speed {
            background: imgUrl('vision-speed.jpg') center;
        }

        background-size: cover;

        .fancyText {
            font-family: $font-brusheo;
            font-size: 30px;
            color: $primary;
            transform: rotate(-15deg);
        }
    }
}

footer {
    font-size: 0.875rem;
    background-color: #221f1f;

    @include media-breakpoint-down(sm) {
        font-size: 0.61rem;
    }
}